* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: space-between;
  margin: 2vw auto;
  width: 80vw;
}

#chat {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

#chat > input {
  border: 1px solid #ddd;
  padding: 1em 2em;
}

.messages {
  border: 1px solid #ddd;
  height: 50vh;
  margin: 2vh 0;
  padding: 2em;
  overflow: auto;
}

.message {
  margin-bottom: 0.7em;
}

.author {
  font-weight: bold;
}

.message-day-block {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.message-day {
  background-color: #ccc;
  margin: 0 auto;
  padding: 3px 5px;
  border-radius: 3px;
}
