* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: space-between;
  margin: 2vw auto;
  width: 80vw;
}

button {
  cursor: pointer;
}

#chat {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

#chat input {
  border: 1px solid #ddd;
  padding: 1em 2em;
}

.room-title {
  text-align: center;
  margin: 2vh;
}

.messages {
  border: 1px solid #ddd;
  height: 50vh;
  margin: 2vh 0;
  padding: 2em;
  overflow: auto;
}

.message {
  display: flex;
  align-items: start;
  margin-bottom: 0.7em;
}

.message-img {
  max-width: 50%;
}

.author {
  font-weight: bold;
}

.message-day-container {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.message-day {
  background-color: #ccc;
  margin: 0 auto;
  padding: 3px 5px;
  border-radius: 3px;
}

.message-container {
  display: flex;
}

.message-input {
  width: 100%;
}

.message-img-container {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  width: 100%;
  padding-top: 5px;
}

.message-img-input {
  width: 100%;
}

.message-img-preview {
  width: 100%;
  cursor: pointer;
}

.message-img-preview img {
  max-width: 100%;
}

.hidden {
  border: 0;
  clip: rect(1px,1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; 
}